*.pyc
.DS_Store
oxn.wpr
oxn.egg-info/**
oxn/_version.py
dist/**
.idea/**
*.iml
*.ipr
.vagrant
build/
.coverage
.editorconfig
__pycache__
.pytest-cache
reports/*
examples/*
irrera_reports/*
irrera_experiments/*
performance_experiments/*
visibility_experiments/*
visibility_reports/*
evaluation.py
*.h5
*.pickle
